body {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}
.float-left {
    float: left;
    margin-left: 40px;
} 
.float-right {
    float: right;
    margin-right: 40px;
}

.float-right a{
    margin-right: 10px;
}

.float-left a {
    margin-right: 10px;
}
.header {
    background-color: #F8F8F8;
    height: 30px;
    border-bottom: 5px solid rgb(249, 10, 14);
}

.content-container {
    width: 800px;
    margin: auto;
    text-align: justify;
    text-indent: 30px;
}

.footer {
    text-align: center;
    position: relative;
    top: 210px;
}

a {
    text-decoration: none;
}
